<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>改变行车参数</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <!--    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>-->
</head>
<body>
<blockquote class="blockquote text-center">
    <p class="mb-0 h1">宝信软件UACS模拟系统</p>
</blockquote>
<div style="border: 1px solid #0069d9" class="col-md-8 offset-2" id="first">
    <div class="row">
        <div id="crane" class="col">
            <h6 id="crane_1">
                <label class="form-inline">Crane_1-1&nbsp;&nbsp;位置&nbsp;&nbsp;
                    <input type="text" class="form-control col-md-6" form-control-sm name="c1_L"
                           placeholder="初始位置（x,y,z）">
                </label>
                <label class="form-inline" style="padding-left: 4.3em">&nbsp;&nbsp;速度&nbsp;&nbsp;
                    <input type="text" class="form-control col-md-7" form-control-sm name="c1_V"
                           placeholder="行驶速度（Vx,Vy,Vz）">
                </label>
            </h6>
        </div>
        <div class="col">
            <div>
                <h6>
                    <label class="form-inline">&nbsp;&nbsp;避让距离(mm)
                        <input type="text" class="form-control col-md-6" form-control-sm name="dis"
                               placeholder="避让距离">
                    </label>
                </h6>
            </div>
            <div class="input-group" style="margin-bottom: 6px">
                <div class="col-md-5" style="margin-top: 0.3rem">
                    <select class="custom-select" name="crane_name">
                        <option selected th:value="0" th:text="Crane_1-1"></option>
                        <option th:value="1" th:text="Crane_1-2"></option>
                        <option th:value="2" th:text="Crane_1-3"></option>
                    </select>
                </div>
                <h2>
                    <button id="addC" type="button" class="btn btn-success">添加Crane</button>
                    <button id="removeC" type="button" class="btn btn-danger">删除Crane</button>
                </h2>
                <div class="form-group" style="margin-bottom: 6px">
                    <div class="col-md-6 offset-md-2">
                        <button id="submit" class="btn btn-default">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function submit() {
        let location = []
        location.push($("[name='c1_L']").val())
        location.push($("[name='c2_L']").val())
        location.push($("[name='c3_L']").val())
        let velocity = []
        velocity.push($("[name='c1_V']").val())
        velocity.push($("[name='c2_V']").val())
        velocity.push($("[name='c3_V']").val())
        let dis = $("[name='dis']").val()
        $.ajax({
            // headers必须添加，否则会报415错误
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: 'POST',
            dataType: "json", //表示返回值类型，不必须
            data: JSON.stringify({location: location, velocity: velocity, distance: dis}),
            url: '/change',
            success: function () {
                alert('success');
            },
            error: function () {
                alert('success');
            }
        });
    }

    $("#submit").click(submit)

    function addCrane() {
        let craneNo = parseInt($("[name='crane_name']").val())
        if (document.getElementById("crane_" + (craneNo + 1))) {
            alert("行车已存在")
            return
        }
        $("#crane ").append(`
         <h6 id="crane_` + (craneNo + 1) + `">
                <label class="form-inline"> Crane_1-` + (craneNo + 1) + `&nbsp;&nbsp;位置&nbsp;&nbsp;
                    <input type="text" class="form-control col-md-6" form-control-sm name="c` + (craneNo + 1) + `_L"
                           placeholder="初始位置（x,y,z）">
                </label>
                <label class="form-inline" style="padding-left: 4.3em">&nbsp;&nbsp;速度&nbsp;&nbsp;
                    <input type="text" class="form-control col-md-7" form-control-sm name="c` + (craneNo + 1) + `_V"
                           placeholder="行驶速度（Vx,Vy,Vz）">
                </label>
            </h6>
        `)
    }

    $("#addC").click(addCrane)

    $("#removeC").click(() => {
        if ($("h6[id^=crane]").length == 0) {
            alert("不能再少了！")
            return
        }
        $("#crane h6").last().remove()
    })
</script>
</body>
</html>