<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>首页</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/BsMultiSelect.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/BsMultiSelect.js}"></script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>-->
    <style type="text/css">
        body {
            background: linear-gradient(to bottom, #fff, #ddd) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<blockquote class="blockquote text-center">
    <p class="mb-0 h1">宝信软件UACS模拟系统</p>
</blockquote>
<form th:action="@{/query}" method="post" th:target="_blank">
    <div style="border: 1px solid #0069d9" class="col-md-8 offset-2" id="first">
        <div class="row">
            <div class="col" id="crane">
                <h6>
                    <label class="form-inline">Crane_1-1&nbsp;&nbsp;类别&nbsp;&nbsp;
                        <input style="margin-top: 6px" type="text" class="form-control" form-control-sm
                               name="cranes[0].type"
                               placeholder="可以执行任务的类别">
                    </label>
                </h6>
            </div>
            <div class="col">
                <h2>
                    <button id="addC" type="button" class="btn btn-success">添加Crane</button>
                    <button id="removeC" type="button" class="btn btn-danger">删除Crane</button>
                </h2>
                <div class="input-group" style="margin-bottom: 6px">
                    <select class="custom-select" name="algorithmType">
                        <option selected th:value="0" th:text="模拟退火"></option>
                        <option th:value="1" th:text="遗传算法"></option>
                        <option th:value="2" th:text="蚁群算法"></option>
                    </select>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">计算</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="second" class="col-md-8 offset-2 row">
        <div class="col-md-7">任务配置</div>
        <div class="col">行车配置<a th:href="@{/change}" th:target="_blank"><img id="embed" th:src="@{/src/setting.svg}"
                                                                             style="height:20px"></a></div>
    </div>
    <div id="third" class="col-md-8 offset-2 row">
        <div style="border: 1px solid #0069d9; margin-left: -1em; padding: 1em" class="col-md-7">
            <div class="input-group-prepend">
                <span class="input-group-text">倒剁任务(0)</span>
                <input type="text" class="form-control" form-control-sm name="tasks[0].num"
                       placeholder="数量" value="0" style="width: 100px; margin-left: 0.5em">
                <input type="hidden" name="tasks[0].type" value="0">
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-inline"/>开始位置
                    <select name="tasks[0].begin" id="begin1" class="form-control" multiple="multiple"
                            style="display: none;">
                    </select>
                </div>
                <div class="col">
                    <label class="form-inline"/>结束位置
                    <select name="tasks[0].end" id="end1" class="form-control" multiple="multiple"
                            style="display: none;">
                    </select>
                </div>
            </div>
            <hr/>
            <div class="input-group-prepend">
                <span class="input-group-text">出入库任务(1)</span>
                <input type="text" class="form-control" form-control-sm name="tasks[1].num"
                       placeholder="数量" value="0" style="width: 100px; margin-left: 0.5em">
                <input type="hidden" name="tasks[1].type" value="1">
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-inline"/>开始位置
                    <select name="tasks[1].begin" id="begin2" class="form-control" multiple="multiple"
                            style="display: none;">
                    </select>
                </div>
                <div class="col">
                    <label class="form-inline"/>结束位置
                    <select name="tasks[1].end" id="end2" class="form-control" multiple="multiple"
                            style="display: none;">
                    </select>
                </div>
            </div>
            <hr/>
            <div class="input-group-prepend">
                <span class="input-group-text">机组任务(2)</span>
                <input type="text" class="form-control" form-control-sm name="tasks[2].num"
                       placeholder="数量" value="0" style="width: 100px; margin-left: 0.5em">
                <input type="hidden" name="tasks[2].type" value="2">
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-inline"/>开始位置
                    <select name="tasks[2].begin" id="begin3" class="form-control" multiple="multiple"
                            style="display: none;">
                    </select>
                </div>
                <div class="col">
                    <label class="form-inline"/>结束位置
                    <select name="tasks[2].end" id="end3" class="form-control" multiple="multiple"
                            style="display: none;">
                    </select>
                </div>
            </div>
        </div>
        <div id="info" style="border: 1px solid #0069d9; margin-left: 1rem; margin-right: -1em; padding: 1rem"
             class="col-md-5">
            <div class="row" style="margin-left: 1rem">
                <div class="h5">避让距离(mm):[[${safeDis}]]</div>
            </div>
            <div style="margin-left: 1rem" name="subInfo">
                <div class="row">
                    <span>crane1-1 位置：[[${locations.get(0)}]]</span>
                </div>
                <div class="row">
                    <span>大车速度：[[${velocities.get(0)[0]}]]&nbsp;</span>
                    <span>小车速度：[[${velocities.get(0)[1]}]]</span>
                </div>
                <div class="row">
                    <span>夹具起降速度：[[${velocities.get(0)[2]}]]</span>
                </div>
            </div>
        </div>
    </div>

</form>
<script th:inline="javascript">
    let options = [[${options}]]
    let selectBlock = $("#third select")
    for (idx in options) {
        if (idx === "0") {
            selectBlock.append(`
        <option value="` + idx + `" selected>` + options[idx] + `</option>
        `)
        } else {
            selectBlock.append(`
        <option value="` + idx + `">` + options[idx] + `</option>
        `)
        }

    }
    selectBlock.bsMultiSelect()

    let locations = [[${locations}]]
    let velocities = [[${velocities}]]
    //
    // console.log(locations)
    // console.log(velocities)

    let crane_num = 1

    function addCrane() {
        if (crane_num > 2) {
            alert("最多支持三台车模拟！！！")
            return
        }
        $("#crane").append(`
            <h6>
                <label class="form-inline">` + ((crane_num == 1) ? 'Crane_1-2' : 'Crane_1-3') + `&nbsp;&nbsp;类别&nbsp;&nbsp;
                    <input type="text" class="form-control" form-control-sm name="cranes[` + crane_num + `].type" placeholder="可以执行任务的类别">
                </label>
            </h6>
        `)

        $("#info").append(`
         <div style="margin-left: 1rem" name="subInfo">
            <hr/>
            <div class="row">
                <span>` + ((crane_num === 1) ? 'crane1-2' : 'crane1-3') + `位置：` + locations[crane_num] + `</span>
            </div>
            <div class="row">
                <span>大车速度：` + velocities[crane_num][0] + `&nbsp;</span>
                <span>小车速度：` + velocities[crane_num][1] + `</span>
            </div>
            <div class="row">
                <span>夹具起降速度：` + velocities[crane_num][2] + `</span>
            </div>
         </div>
        `)
        ++crane_num
    }

    $("#addC").click(addCrane)
    $("#removeC").click(() => {
        if (crane_num < 2) {
            alert("不能再少了！")
            return
        }
        $("#crane h6").last().remove()
        $("#info div[name=subInfo]").last().remove()
        --crane_num
    })
</script>
</body>
